[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
numpy = "*"
pandas = "*"
pyyaml = "*"
tensorflow = "==2.1.0"
tensorflow-hub = "*"
tensorflow-serving-api = "*"
tensorflow_text = ">=2.0.0rc"
grpcio = "*"
grpcio-tools = "*"

[requires]
python_version = "3.7"
